<div>
<mtapp:setting
	id="<mt:var name="field">"
	label="<mt:unless name="label_display" eq="hide"><mt:var name="label"></mt:unless>"
    label_class="<mt:if name="label_display" like="/above|hide/">top-label<mt:else>left-label</mt:else></mt:if>"
	>
	<input type="hidden" name="<mt:var name="field">" id="<mt:var name="field">" value="dummy" />
	<mt:if name="date_order" eq="mdy">
		<mt:var name="m_select">
		<mt:var name="d_select">
		<mt:var name="y_select">
	</mt:if>
	<mt:if name="date_order" eq="dmy">
		<mt:var name="d_select">
		<mt:var name="m_select">
		<mt:var name="y_select">
	</mt:if>
	<mt:if name="date_order" eq="ymd">
		<mt:var name="y_select">
		<mt:var name="m_select">
		<mt:var name="d_select">
	</mt:if>
	<a href="javascript:void(0);" onmouseover="fd_cal_switch('<mt:var name="field">');" onclick="fd_calendar.showCalendar('fd_cal_<mt:var name="field">');return false;" name="fd_cal_<mt:var name="field">" id="fd_cal_<mt:var name="field">"><img src="<mt:var name="static_uri">plugins/FieldDay/cal.png" border="0" /></a>
	<mt:if name="show_hms">
		<mt:var name="h_select">
		<mt:if name="time" ne="hh">
			: <mt:var name="min_select">
			<mt:if name="time" eq="hhmmss">
				: <mt:var name="s_select">
			</mt:if>
		</mt:if>
		<mt:if name="ampm">
			<select name="<mt:var name="field">_ampm" id="<mt:var name="field">_ampm">
			<option value="am"<mt:if name="am_selected"> selected="selected"</mt:if>>am</option>
			<option value="pm"<mt:if name="pm_selected"> selected="selected"</mt:if>>pm</option>			
			</select>
		</mt:if>
	</mt:if>
</mtapp:setting>
</div>