<div style="<mt:if name="label_display" eq="hide">float:left;margin-left:55px;<mt:else>clear:both;</mt:if>">
<mtapp:setting
	id="<mt:var name="field">"
	label="<mt:unless name="label_display" eq="hide"><mt:var name="label"></mt:unless>"
    label_class="<mt:if name="label_display" like="/above|hide/">top-label<mt:else>left-label</mt:else></mt:if>"
	>
	<div class="textarea-wrapper"<mt:if name="width">style="width:<mt:var name="wrapper_width">px;"</mt:if>>
		<textarea name="<mt:var name="field">" id="<mt:var name="field">" style="height:<mt:var name="height">px;<mt:if name="width">width:<mt:var name="width">px;</mt:if>"<mt:unless name="width"> class="full-width short"</mt:unless> tabindex="<mt:var name="tabindex">" mt:watch-change="1" autocomplete="off"<mt:if name="read_only"> disabled="disabled"</mt:if>><$mt:var name="value" escape="html"$></textarea>
	</div>
</mtapp:setting>
</div>
<mt:if name="label_display" eq="hide"><div style="clear:both;"></div></mt:if>
