<mtapp:setting
	id="<mt:var name="field">_label_above"
	label="Label above field"
	content_class="field-content-text">
		<input type="checkbox" id="<mt:var name="field">_label_above" name="<mt:var name="field">_label_above" value="1"<mt:if name="label_above"> checked="checked"</mt:if> />
</mtapp:setting>
