<p>This blog is using the default FieldDay settings from the blog "<mt:var name="default_blog_name">". To override these settings with weblog-specific settings, click the button below. Please note before doing this that if you have existing entries that were entered using the default settings, that data may be lost when those entries are next re-saved.</p>
<a href="<mt:var name="script_url">?__mode=fd_override_default&_type=<mt:var name="setting_object_type">&blog_id=<mt:var name="blog_id">&return_args=<mt:var name="return_args" encode_url="1">">Override Default Settings</a>
