<h3>Configure:</h3>
<ul>
<mt:loop name="content_nav_loop">
    <li<mt:if name="active"> class="active"</mt:if>><a href="<mt:var name="script_url">?__mode=fd_cfg_<mt:var name="type">&_type=<mt:var name="setting_object_type">&blog_id=<mt:var name="blog_id">"><__trans phrase="<mt:var name="label">"></a></li>
</mt:loop>
<mt:if name="blog_id">
<li>
<mt:if name="is_default">
<a href="<mt:var name="script_url">?__mode=fd_clear_default&_type=<mt:var name="setting_object_type">&blog_id=<mt:var name="blog_id">&return_args=<mt:var name="return_args" encode_url="1">">Remove "<mt:var name="blog_name">" Settings as Default</a>
<mt:else>
<mt:unless name="using_default">
<a href="<mt:var name="script_url">?__mode=fd_use_default&_type=<mt:var name="setting_object_type">&blog_id=<mt:var name="blog_id">&return_args=<mt:var name="return_args" encode_url="1">">Use Default Settings</a>
</mt:unless>
<a href="<mt:var name="script_url">?__mode=fd_set_default&_type=<mt:var name="setting_object_type">&blog_id=<mt:var name="blog_id">&return_args=<mt:var name="return_args" encode_url="1">">Use "<mt:var name="blog_name">" Settings as Default</a>
</mt:else>
</mt:if>
</li>
</mt:if>
</ul>
<h3>Tools</h3>
<ul>
</ul>