<mtapp:setting
    id="<mt:var name="field">_choices"
    label="Choices<br />(one per line)"
    hint="Use <b>key=value</b> to store a key different from the displayed value, as in <b>o1=Option One</b>"
    show_hint="1"
    content_class="field-content-text">
        <textarea id="<mt:var name="field">_choices" name="<mt:var name="field">_choices" class="fd-setting-textarea" /><mt:var name="choices"></textarea>
</mtapp:setting>
