<mtapp:setting
	id="<mt:var name="field">_upload_path"
	label="Upload path"
	content_class="field-content-text">
		<input type="text" id="<mt:var name="field">_upload_path" name="<mt:var name="field">_upload_path" value="<mt:var name="upload_path">" class="full-width" />
</mtapp:setting>
<mtapp:setting
	id="<mt:var name="field">_url_path"
	label="URL path"
	content_class="field-content-text">
		<input type="text" id="<mt:var name="field">_url_path" name="<mt:var name="field">_url_path" value="<mt:var name="url_path">" class="full-width" />
</mtapp:setting>
<mtapp:setting
	id="<mt:var name="field">_filenames"
	label="Filenames"
	content_class="field-content-text">
	<input type="radio" name="<mt:var name="field">_filenames" value="keep"<mt:if name="keep_selected"> checked="checked"</mt:if> /> Keep&nbsp;
	<input type="radio" name="<mt:var name="field">_filenames" value="dirify"<mt:if name="dirify_selected"> checked="checked"</mt:if> /> Dirify&nbsp;
	<input type="radio" name="<mt:var name="field">_filenames" value="id"<mt:if name="id_selected"> checked="checked"</mt:if> /> ID&nbsp;
	<input type="radio" name="<mt:var name="field">_filenames" value="basename"<mt:if name="basename_selected"> checked="checked"</mt:if> /> Basename&nbsp;
</mtapp:setting>
