<mtapp:setting
	id="<mt:var name="field">_active"
	label="Active Only"
	content_class="field-content-text">
	<input type="checkbox" name="<mt:var name="field">_active"<mt:if name="active"> checked="checked"</mt:if> />
</mtapp:setting>
