<mtapp:setting
	id="<mt:var name="field">_limit_fields"
	label="Limit by Blog Field"
	hint="key=value to specify value"
	show_hint="1"
	content_class="field-content-text">
	<input type="text" name="<mt:var name="field">_limit_fields" value="<mt:var name="limit_fields">" class="full-width" />
</mtapp:setting>

<mtapp:setting
	id="<mt:var name="field">_autocomplete"
	label="Autocomplete"
	content_class="field-content-text">
	<input type="checkbox" name="<mt:var name="field">_autocomplete"<mt:if name="autocomplete"> checked="checked"</mt:if> />
</mtapp:setting>

<mtapp:setting
	id="<mt:var name="field">_autocomplete_fields"
	label="Autocomplete Display Fields"
	hint="Comma-separated list"
	show_hint="1"
	content_class="field-content-text">
	<input type="text" name="<mt:var name="field">_autocomplete_fields" value="<mt:var name="autocomplete_fields">" class="full-width" />
</mtapp:setting>

<mtapp:setting
	id="<mt:var name="field">_show_autocomplete_values"
	label="Show Autocomplete Values"
	content_class="field-content-text">
	<input type="checkbox" name="<mt:var name="field">_show_autocomplete_values"<mt:if name="show_autocomplete_values"> checked="checked"</mt:if> />
</mtapp:setting>

