<mt:setvarblock name="page_title">Configure <mt:var name="setting_object_type_uc" /> Extra Fields</mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
<link rel="stylesheet" href="<mt:var name="static_uri">plugins/FieldDay/cms-styles.css" type="text/css" />
<script type="text/javascript">
<!--
var tableSelect;
function init()
{
        // setup
        tableSelect = new TC.TableSelect( "setting-table" );
        tableSelect.rowSelect = true;
}

TC.attachLoadEvent( init );
function addRow(hidden_div_key) {
	hideOptions();
	var row_names = frAddRow('fdsetting-listing-table', hidden_div_key ? hidden_div_key : false, fd_setting_list);
	var new_name = getByID(row_names.new_name + '_name');
	new_name.value = '';
	getByID(row_names.new_name + '_label').value = '';
	var new_type = getByID(row_names.new_name + '_type').selectedIndex = getByID(row_names.old_name + '_type').selectedIndex;
	new_name.focus();
}
//-->
</script>
<style type="text/css">
.fd-settings {
display:none;
position:absolute;
top:0px;
padding:10px;
background:#fff;
border:1px solid #000;
max-width:375px;
}
.fd-setting-textarea {
height:150px;
}
</style>
<script type="text/javascript" src="<mt:var name="static_uri">plugins/FieldDay/flexRows.js"></script> 
<script type="text/javascript" src="<mt:var name="static_uri">plugins/FieldDay/fdSettings.js"></script>
<script type="text/javascript">
var fd_options = [];
var showing_options;
<mt:loop name="tmpl_loop">
fd_options['<mt:var name="type" />'] = '<mt:var name="tmpl" encode_js="1" />';
</mt:loop>
var fd_setting_list = [];
var fd_setting_names = [];
var fd_deleted_settings = [];
<mt:loop name="object_loop">
fd_setting_list[fd_setting_list.length] = '<mt:var name="field">';
fd_setting_names['<mt:var name="field">'] = '<mt:var name="field">';
</mt:loop>
</script>
</mt:setvarblock>
<mt:setvarblock name="content_header">
    <mt:if name="saved">
        <mtapp:statusmsg
            id="saved"
            class="success">
            <__trans phrase="Your changes have been saved.">
        </mtapp:statusmsg>
    </mt:if>
</mt:setvarblock>
<mt:setvarblock name="action_buttons">
<mt:if name="using_default">

<mt:include name="include/list_using_default.tmpl">

<mt:else>

    <input onclick="addRow('options')" type="button" value="<__trans phrase="Add Field">" accesskey="+" title="<__trans phrase="Add Field (+)">" />
    <input onclick="saveSettings(this.form, 'fields')" type="button" value="<__trans phrase="Save Settings">" accesskey="+" title="<__trans phrase="Save Settings">" />
                <p class="alert-warning-inline" id="delete_warning" style="display: none;margin:5px 0 0 0;">

                <img src="<mt:var name="static_uri">images/status_icons/warning.gif" alt="Warning" width="9" height="9" />
            
                Warning: Deleting a field may result in the loss of existing data.
            
            </p>
</mt:else>
</mt:if>

</mt:setvarblock>

<mt:setvarblock name="content_nav">
<mt:include name="include/list_setting_nav.tmpl">
</mt:setvarblock>

<mt:include name="include/header.tmpl">

<mtapp:listing>
<mt:unless name="using_default">
<mt:if __first__>
<thead>
<tr>
<input type="hidden" name="fd_setting_list" value="" />
<input type="hidden" name="fd_new_settings" value="" />
<input type="hidden" name="fd_deleted_settings" value="" />
<input type="hidden" name="setting_object_type" value="<mt:var name="setting_object_type">" />
<input type="hidden" name="<mt:var name="field">_locked" id="<mt:var name="field">_locked" value="<mt:if name="new">0<mt:else>1</mt:else></mt:if>" />
<th id="fd-actions">&nbsp;</th>
<th id="fd-field">Field</th>
<th id="fd-label">Label</th>
<th id="fd-type">Type</th>
<th id="fd-type">Group</th>
</tr>
</thead>
<tbody>
</mt:if>
<tr class="<mt:if name="__odd__">even<mt:else>odd</mt:if>" id="<mt:var name="field">_row"<mt:if name="prototype"> style="display:none;"</mt:if>>
<td>
<input type="hidden" name="<mt:var name="field">_order" id="<mt:var name="field">_order" value="<mt:var name="sort_order">" />
<mt:unless name="prototype"><span id="<mt:var name="field">_unlock"><a href="javascript:void(0)" onclick="unlockRow('<mt:var name="field">')"><img src="<mt:var name="static_uri">images/locked.gif" border="0" /></a></span></mt:unless>
<a href="javascript:void(0);" onclick="deleteRow('<mt:var name="field">')" id="<mt:var name="field">_delete"<mt:unless name="prototype"> style="display:none;"</mt:unless>><img src="<mt:var name="static_uri">plugins/FieldDay/nav-delete.gif" border="0" /></a>
<a href="javascript:void(0);" onclick="moveRow('up', '<mt:var name="field">')"><img src="<mt:var name="static_uri">plugins/FieldDay/nav-arrow-up.gif" border="0" /></a> 
<a href="javascript:void(0);" onclick="moveRow('down', '<mt:var name="field">')"><img src="<mt:var name="static_uri">plugins/FieldDay/nav-arrow-down.gif" border="0" /></a>
<div><a href="javascript:void(0);" onclick="editOptions('<mt:var name="field">')">Options</a></div>
</td>
<td><input type="text" name="<mt:var name="field">_name" id="<mt:var name="field">_name" value="<mt:var name="field">" onchange="return nameChange(this, '<mt:var name="field">')" /></td>
<td><input type="text" name="<mt:var name="field">_label" id="<mt:var name="field">_label" value="<mt:var name="label">" /></td>
<td>
<select name="<mt:var name="field">_type" id="<mt:var name="field">_type" onchange="typeChange(this, '<mt:var name="field">')">
<mt:loop name="type_loop">
<option value="<mt:var name="type">" <mt:if name="selected"> selected="selected"</mt:if>><mt:var name="label"></option>
</mt:loop>
</select>
</td>
<td>
<select name="<mt:var name="field">_group" id="<mt:var name="field">_group">
<mt:loop name="group_loop">
<option value="<mt:var name="group">" <mt:if name="selected"> selected="selected"</mt:if>><mt:var name="label"></option>
</mt:loop>
</select>
</td>
</tr>
<mt:if __last__>
</tbody>
<div id="fr_all_hidden_divs">
<mt:loop name="object_loop">
<div id="<mt:var name="field">_options_div" class="fd-settings">
<div id="<mt:var name="field">_options_div_inner">
<mt:var name="options_tmpl">
</div>
<div><input type="button" value="OK" onclick="hideOptions('<mt:var name="field">')" /></div>
</div>
</mt:loop>
</div>
</mt:if>
</mt:unless>
</mtapp:listing>


<mt:include name="include/footer.tmpl">