<mtapp:setting
    id="settings_role"
    label="Settings Role"
    hint="Non-System Administrators must have this role in order to view and edit FieldDay settings;<br />
    if blank, only System Administrators will have access"
    show_hint="1"
>
    <input type="text" name="settings_role" id="settings_role" value="<mt:var name="settings_role" escape="html">" class="full-width" />
</mtapp:setting>
