<mtapp:setting
	id="<mt:var name="field">_width"
	label="Width (pixels)"
	content_class="field-content-text">
		<input type="text" id="<mt:var name="field">_width" name="<mt:var name="field">_width" value="<mt:var name="width">" class="tiny-width" />
</mtapp:setting>
<mtapp:setting
	id="<mt:var name="field">_length"
	label="Max. length (characters)"
	content_class="field-content-text">
		<input type="text" id="<mt:var name="field">_length" name="<mt:var name="field">_length" value="<mt:var name="length">" class="tiny-width" />
</mtapp:setting>
