<mtapp:setting
	id="<mt:var name="field">"
	label="<mt:var name="label">"
    label_class="<mt:if name="label_above">top-label<mt:else>left-label</mt:else></mt:if>"
	>
<mt:loop name="choice_loop">
<input type="radio" name="<mt:var name="field">" value="<mt:var name="value">"<mt:if name="selected"> checked="checked"</mt:if> tabindex="<mt:var name="tabindex">" /> <mt:var name="label">&nbsp;
</mt:loop>
</mtapp:setting>
