<mtapp:setting
    id="<mt:var name="field">_width"
    label="Width (pixels)"
    content_class="field-content-text">
        <input type="text" id="<mt:var name="field">_width" name="<mt:var name="field">_width" value="<mt:var name="width">" class="tiny-width" />
</mtapp:setting>
<mtapp:setting
    id="<mt:var name="field">_height"
    label="Height (pixels)"
    content_class="field-content-text">
        <input type="text" id="<mt:var name="field">_height" name="<mt:var name="field">_height" value="<mt:var name="height">" class="tiny-width" />
</mtapp:setting>
