<mtapp:setting
	id="<mt:var name="field">_linked_blog_id"
	label="Blog"
	content_class="field-content-text">
	<select name="<mt:var name="field">_linked_blog_id"> id="<mt:var name="field">_linked_blog_id">
	<option value="">Select</option>
	<mt:loop name="linked_blog_loop">
	<option value="<mt:var name="value">"<mt:if name="selected"> selected="selected"</mt:if>><mt:var name="label"></option>
	</mt:loop>
	</select>
</mtapp:setting>

<mtapp:setting
	id="<mt:var name="field">_category_ids"
	label="<mt:if name="type" eq="LinkedPage">Folder<mt:else>Category</mt:if> IDs"
	content_class="field-content-text">
	<input type="text" name="<mt:var name="field">_category_ids" value="<mt:var name="category_ids">" />
</mtapp:setting>

<mtapp:setting
	id="<mt:var name="field">_subcats"
	label="Include <mt:if name="type" eq="LinkedPage">Subfolders<mt:else>Subcategories</mt:if>"
	content_class="field-content-text">
	<input type="checkbox" name="<mt:var name="field">_subcats"<mt:if name="subcats"> checked="checked"</mt:if> />
</mtapp:setting>

<mtapp:setting
	id="<mt:var name="field">_lastn"
	label="Limit to Most Recent"
	content_class="field-content-text">
	<input type="text" name="<mt:var name="field">_lastn" value="<mt:var name="lastn">" class="tiny-width" />
</mtapp:setting>

<mtapp:setting
	id="<mt:var name="field">_published"
	label="Published Only"
	content_class="field-content-text">
	<input type="checkbox" name="<mt:var name="field">_published"<mt:if name="published"> checked="checked"</mt:if> />
</mtapp:setting>

<mtapp:setting
	id="<mt:var name="field">_autocomplete"
	label="Autocomplete"
	content_class="field-content-text">
	<input type="checkbox" name="<mt:var name="field">_autocomplete"<mt:if name="autocomplete"> checked="checked"</mt:if> />
</mtapp:setting>

<mtapp:setting
	id="<mt:var name="field">_autocomplete_fields"
	label="Autocomplete Display Fields"
	hint="Comma-separated list"
	show_hint="1"
	content_class="field-content-text">
	<input type="text" name="<mt:var name="field">_autocomplete_fields" value="<mt:var name="autocomplete_fields">" class="full-width" />
</mtapp:setting>

<mtapp:setting
	id="<mt:var name="field">_show_autocomplete_values"
	label="Show Autocomplete Values"
	content_class="field-content-text">
	<input type="checkbox" name="<mt:var name="field">_show_autocomplete_values"<mt:if name="show_autocomplete_values"> checked="checked"</mt:if> />
</mtapp:setting>

<mtapp:setting
	id="<mt:var name="field">_allow_create"
	label="Allow Create"
	content_class="field-content-text">
	<input type="checkbox" name="<mt:var name="field">_allow_create"<mt:if name="allow_create"> checked="checked"</mt:if> />
</mtapp:setting>

<mtapp:setting
	id="<mt:var name="field">_create_fields"
	label="Create Fields"
	hint="Comma-separated list"
	show_hint="1"
	content_class="field-content-text">
	<input type="text" name="<mt:var name="field">_create_fields" value="<mt:var name="create_fields">" class="full-width" />
</mtapp:setting>

<mtapp:setting
	id="<mt:var name="field">_required_fields"
	label="Required Fields"
	hint="Comma-separated list"
	show_hint="1"
	content_class="field-content-text">
	<input type="text" name="<mt:var name="field">_required_fields" value="<mt:var name="required_fields">" class="full-width" />
</mtapp:setting>

<mtapp:setting
	id="<mt:var name="field">_unique_fields"
	label="Unique Fields"
	hint="Comma-separated list"
	show_hint="1"
	content_class="field-content-text">
	<input type="text" name="<mt:var name="field">_unique_fields" value="<mt:var name="unique_fields">" class="full-width" />
</mtapp:setting>

